@using Models
@using Servicos
@model Models.Equipe

@{
	ViewData["Title"] = "Details";
}

<h2>Detalhes da Equipe</h2>

<div>
	<hr />
	<dl>
		<dt>
			@Html.DisplayNameFor(model => model.Codigo) <a> da Equipe</a> :
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Codigo)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Cidade)<a> de Atução</a> :
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Cidade.Nome)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Pessoa)<a>s Cadastradas na Equipe</a> :
		</dt>
		<dd>
			@for (int i = 0; i < Model.Pessoa.Count; i++)
			{
				@Html.DisplayFor(model => model.Pessoa[i].Nome)
				<br />
			}
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
	<a asp-action="Index">Voltar</a>
</div>